
*.pbxproj
*.xcworkspacedata
nyan-cat/Assets.xcassets/.DS_Store
nyan-cat/art.scnassets/texture.png
nyan-cat/art.scnassets/ship.scn
nyan-cat/.DS_Store
nyan-cat.xcodeproj/project.xcworkspace/xcuserdata/vladsudakov.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
